@for (card of card.results; track card._id) {
<mat-card
  class="cursor-pointer"
  (mouseenter)="onMouseEnter(card._id)"
  (mouseleave)="onMouseLeave()"
>
  <div class="flex flex-col items-center h-[400px]">
    <img
      mat-card-image
      [src]="card?.primaryImage?.url || 'https://via.placeholder.com/250'"
      alt="{{ card?.titleText?.text }}"
      class="w-full h-[250px] object-cover"
    />

    <mat-card-header>
      <img mat-card-avatar >
      <mat-card-title>{{ card?.titleText?.text }}</mat-card-title>
      <mat-card-subtitle>{{ card?.titleType?.text }}</mat-card-subtitle>
    </mat-card-header>

    @if (hoveredIndex === card?._id) {
    <mat-card-actions>
      <button class="px-2" mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    }
  </div>
</mat-card>
}
