<mat-card class="example-card" *ngFor="let card of card?.results">
  <div class="flex flex-col">
    <img
      mat-card-image
      src="{{ card?.primaryImage?.url }}"
      alt="{{ card?.titleText?.text }}"
      class="w-full object-contain"
    />

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ card?.titleText?.text }}</mat-card-title>
      <mat-card-subtitle>{{ card?.titleType?.text }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="py-2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus
        debitis nemo dolores adipisci maiores sit velit, in minima distinctio,
        laborum fugit accusantium doloribus blanditiis omnis quidem molestiae
        quas porro quo!
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button class="px-2" mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </div>
</mat-card>
