<mat-toolbar color="primary" class="gap-2">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    class="flex"
    (click)="changeSidenav(!showFiller)"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Movie App</span>
  <span class="example-spacer"></span>
  <div class="flex items-center relative">
    <input
      class="pl-2 rounded-sm text-indigo-600"
      matInput
      type="text"
      placeholder="Search for a movie"
    />
    <mat-icon color="primary" class="absolute -right-[-4px]">search</mat-icon>
  </div>
</mat-toolbar>
