<mat-toolbar color="primary" class="gap-2">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    class="flex"
    (click)="changeSidenav(!showFiller)"
  ></button>
  <span>Movie App</span>
  <span class="example-spacer"></span>

  <!-- (ngSubmit)="performSearch()" -->
  <!-- [(ngModel)]="searchValue" -->
  <input
    [formControl]="searchControl"
    class="pl-2 rounded-sm text-indigo-600"
    matInput
    type="text"
    name="search"
    id="search"
    placeholder="Search for a movie"
  />
</mat-toolbar>
