<mat-card class="pt-5 h-full">
  <div class="flex flex-col justify-around">
    <mat-form-field>
      <mat-label class="uppercase">Genres</mat-label>
      <mat-select (selectionChange)="onGenreChange($event.value)">
        @for (genre of genreList?.results; track genre) {
        <mat-option [value]="genre">{{ genre }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="uppercase">Genres</mat-label>
      <mat-select (selectionChange)="onGenreChange($event.value)">
        @for (genre of genreList?.results; track genre) {
        <mat-option [value]="genre">{{ genre }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="uppercase">Genres</mat-label>
      <mat-select (selectionChange)="onGenreChange($event.value)">
        @for (genre of genreList?.results; track genre) {
        <mat-option [value]="genre">{{ genre }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
